.seller-wrap {
    .goods-picture {
        .ivu-tabs-nav-scroll {
            background: #ffffff;
            padding: 0 20px;
        }
        .goods-list {
            .btn-group {
                line-height: 52px;
                .first-btn {
                    margin-right: 10px;
                }
                .float-right {
                    float: right;
                    .ivu-col-span-12 {
                        margin-left: 10px;
                        width: 124px;
                        &:first-child {
                            text-align: right;
                        }
                     }
                }
            }
        }
        .goods-table{
            margin-top: 14px;
            border: 0 none;
            .ivu-table:after,
            .ivu-table:before {
                background-color: inherit;
            }
            .ivu-table-fixed-body {
                overflow: inherit;
            }
            .ivu-table-fixed-right:before,
            .ivu-table-fixed:before {
                height: 0;
            }
            .ivu-btn-small {
                padding: 3px 19px;
                border-radius: 4px;
            }
            .ivu-table-cell {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}