.collect-store {
    .saases-title{
        padding-top:20px;
        font-size:18px;
        font-weight: 500;
        text-align: left;
        border-bottom: 1px solid #e5e5e5;
        height: 77px;
        span{
            float: left;
            width: 144px;
            color: #444;
            height: 58px;
            line-height: 57px;
        }
    }
    .row{
        margin: 20px -5px;
        .col-sm-3{
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 10px;
            &>div{
                border: 1px solid #e5e5e5;
                height: 344px;
                padding: 20px 20px 10px 20px;
                &>img{
                    width: 202px;
                    height: 202px;
                    display: block;
                }
                .goods-msg{
                    margin-top: 20px;
                    .price{
                        font-size: 12px;
                        span{
                            font-size: 18px;
                        }
                        .old-price{
                            font-size: 12px;
                            color: #d0d0d0;
                            text-decoration: line-through;
                            padding-left: 10px;
                        }
                    }
                    .goods-name{
                        height: 32px;
                        font-size: 14px;
                        color: #444;
                        line-height: 1.29;
                    }
                    .xiaoliang{
                        margin-top: 11px;
                        .month-xiaoliang{
                            float: left;
                            font-size: 12px;
                            color: #999;
                            b{
                                color: #666;
                            }
                        }
                        .quxiao{
                            float: right;
                            width: 64px;
                            height: 24px;
                            text-align: center;
                            border: 1px solid #e5e5e5;
                            line-height: 22px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}