.my-account{
    .saases-title{
        padding-top:20px;
        font-size:18px;
        font-weight: 500;
        text-align: center;
        border-bottom: 1px solid #e5e5e5;
        height: 77px;
        span{
            float: left;
            width: 144px;
            color: #444;
            height: 58px;
            line-height: 57px;
        }
        .xuanzhong{
            border-bottom:2px solid #de2634 ;
            color: #de2634;
        }
    }
    .box{
        .group-input{
            clear: both;
            margin-top: 10px;
            padding-left: 40px;
            height: 40px;
            .label-l{
                float: left;
                text-align: right;
                width: 50px;
                margin-right: 20px;
                font-size: 12px;
                color: #444;
                margin-top: 10px;
            }
            .msg{
                float: left;
                line-height: 36px;
                input[type="text"]{
                    display: block;
                    width: 180px;
                    height: 40px;
                    padding-left: 13px;
                    font-size: 12px;
                }
                .ivu-icon-load-c{
                    top:17px;
                    left: 155px;
                }
            }
        }
    }
}