.cart-settlement {
  background-color: #fff;
  border-bottom: 1px solid #d0d0d0;

  .select-title {
    font-size: 18px;
    padding-top: 34px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  table {
    .select-all {
      margin-top: -7px;
    }
  }

  .product-information {
    .freight {
      .name {
        float: left;
        width: 400px;
        margin-bottom: 6px;
        margin-top: 30px;
        span {
          float: left;
          margin-left: 20px;
          &.shop {
            margin-left: 12px;
          }
        }
      }
      .money {
        float: right;
        padding-right: 20px;
        margin-top: 30px;
      }
    }


    .offer-tr {
      background-color: #fff;
      height: 32px;
      line-height: 32px;
      text-align: center;
      color: #666;

    }
    .offer {
      width: 100%;
      height: 32px;
      text-align: left;
      padding-left: 20px;
      span {
        border: 1px solid #ff2342;
        padding: 0 6px;
        color: #ff2342;
        margin-right: 10px;
      }
    }

    thead {
      background-color: #f7f7f7;
      th.select {
        padding-right: 2px;
        padding-top: 15px;
        padding-left: 12px;
      }
      th.select-all {
        padding: 0;
        text-align: left;
        width: 80px;
      }
    }

    tbody {
      height: 120px;
      border-top: 1px solid #d0d0d0;
      tr {
        height: 120px;
        text-align: center;
        border-bottom: 1px solid #d0d0d0;
        td {
          padding: 0 10px;
          &.td-select {
            padding: 16px 14px 0 20px;
            width: 20px;
          }
          &.td-information {
            width: 490px;
            text-align: left;
            padding-left: 20px;
            padding-right: 0;
            padding-top: 8px;
            p {
              margin-top: 20px;
            }
          }
          &:last-child {
            cursor: pointer;
          }
          &.td-img {
            padding: 0;
            img {
              width: 80px;
              height: 80px;
            }
          }
          &.delete:hover {
            cursor: pointer;
            color: #ff2342;
          }

        }
        td .num-input {
          span {
            float: left;
            height: 24px;
            cursor: pointer;
            &.num {
              width: 20px;
              border: 1px solid #d0d0d0;
            }
            &.input {

              input {
                width: 82px;
                border: 0 none;
                outline: none;
                border-top: 1px solid #d0d0d0;
                border-bottom: 1px solid #d0d0d0;
                height: 24px;
                line-height: 24px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .cart-select-model {
    thead {
      color: #666;
      height: 60px;
      th {
        height: 60px;
      }
    }
  }

  .cart-pay {
    margin-top: 30px;
    margin-bottom: 20px;

    thead {
      height: 64px;
      color: #666;
      tr {
        text-align: center;
      }

      th {
        height: 64px;
        line-height: 34px;
        padding: 0;

        &.select {
          padding-left: 20px;
        }

        &.delete-product {
          width: 300px;
          padding-left: 10px;
          text-align: left;
          span{
            margin-right: 20px;
            cursor: pointer;
          }

          .select-delete-all {
            margin-right: 18px;
          }
        }
        &.th-information {
          width: 300px;
        }
        &.num-price {
          padding-top: 12px;
          padding-right: 33px;
          font-size: 24px;
          text-align: right;
          color: #de2634;
          p {
            margin-top: -11px;
            font-size: 14px;
            color: #666;
          }
        }
        &.mount {
          padding-left: 77px;
        }

        .order-btn {
          height: 80px;
          margin-top: 0;
          float: right;
        }
      }
    }
  }

  .browse-content {
    border: 1px solid #e5e5e5;
  }
}
