.shop-home {
    padding-bottom: 60px;
    color: #444444;
    background-color: #f7f7f7;
    .carousel-indicators li {
        text-indent: 0;
    }
    .carousel-indicators {
        background: rgba(0,0,0,0.5);
        border: 0;
        border-radius: 8px;
        bottom: 10px;
        height: 16px;
        line-height: 16px;
        margin-bottom: 0;
        margin-left: -41px;
        width: 82px;
        li {
            background: #ffffff;
            display: inline-block;
            height: 8px;
            width: 8px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                background: #ff2342;
            }
        }
    }
    .home-shop {
        margin-top: 30px;
    }
    .shop-wrap {
        margin-right: 12px;
        margin-top: 10px;
        width: 180px;
        .shop-title {
            background: #ffffff;
            border-bottom: 1px solid #e5e5e5;
            font-size: 14px;
            padding: 10px 10px 20px 10px;
            p:nth-child(2) {
                margin-top: 16px;
            }
            p:nth-child(3) {
                margin-top: 9px;
                i{
                    color: #de2634;
                }
            }
            .btn {
                border: 1px solid #de2634;
                border-radius: 0;
                color: #de2634;
                height: 42px;
                line-height: 42px;
                margin-top: 19px;
                padding: 0;
                width: 160px;
            }
        }
        .workingTime {
            background: #ffffff;
            padding: 20px 20px 20px 22px;
            p {
                font-weight: bold;
                font-size: 12px;
                span {
                    color: #999999;
                    font-weight: normal;
                }
            }
            h5 {
                font-weight: bold;
                margin-top: 20px;
            }
            > ul {
                margin-top: 15px;
                li {
                    margin-bottom: 10px;
                    width: 50%;
                    &:nth-child(2n) {
                        text-align: end;
                    }
                    a {
                        font-size: 12px;
                        color: #999999;
                        line-height: 16px;
                        img {
                            display: inline-block;
                            margin-left: 6px;
                        }
                    }
                }
            }
        }
    }
}
